<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My CRUD in NodeJS</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style type="text/css">
    .corpo{
      text-align: center;
      background-color: #D9FFE3;
    }

    .titulo{
      text-align: center;
      font-size: 5rem;
    }

    .formulario{
      margin: 50px;
      margin-right: 500px;
      font-size: 30px;
      text-align: right;
    }

    .listar{
      font-size: 2rem;
      margin: .5em;
    }
    .submit{
      margin-right: 130px;
    }
  </style>
  <script type="text/javascript">
    function verifica(e){
      if(e.which != 8 && e.which != 0 (e.which < 48 || e.which > 57)){
        return false;
      }
    }
    $(document).ready(function(){
      $("#cpf").keypress(verifica);
    });

    function formataCpf(evt){
      vr = (navigator.appName == 'Netscape') ?evt.target.value : evt.srcElement.value;
        if(vr.length == 3) vr = vr+".";
        if(vr.length == 7) vr = vr+".";
        if(vr.length == 11) vr = vr+"-";
      return vr;
    }

     $(document).ready(function(){
      $("#telefone").keypress(verifica);
    });

    function formataTel(evt){
      vr = (navigator.appName == 'Netscape') ?evt.target.value : evt.srcElement.value;
        if(vr.length == 0) vr = vr+"(";
        if(vr.length == 3) vr = vr+")";
        if(vr.length == 9) vr = vr+"-";
      return vr;
    }
  </script>
  
</head>
<body class="corpo">

    <h1 class="titulo">Registrar<h1>
    <form class="formulario" action="/show" method="POST">
      <label for="nome">Nome:</label>
      <input type="text" placeholder="Nome" name="name" required="required"><br>
      <label for="cpf">CPF:</label>
      <input type="text" placeholder="###.###.###-##" name="cpf" onkeypress="this.value = formataCpf(event)" required="required"><br>
      <label for="telefone">Telefone:</label>
      <input type="text" placeholder="(##)#####-####" name="telefone" onkeypress="this.value = formataTel(event)" required="required"><br>
      <label for="escolaridade">Escolaridade:</label>
      <input type="text" placeholder="Escolaridade" name="escolaridade" required="required"><br>
      <button class="submit" type="submit">Submit</button>
    </form> 
    <a href="/show"><button class="listar">Listar</button></a>

</body>
</html>