<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My CRUD in NodeJS</title>
</head>
<body>

    <h2>Registrar<h2>
    <form action="/show" method="POST">
        <input type="text" placeholder="Name" name="name"><br>
        <input type="text" placeholder="CPF" name="cpf"><br>
        <input type="text" placeholder="Telefone" name="telefone"><br>
        <input type="text" placeholder="Escolaridade" name="escolaridade"><br>
        <button type="submit">Submit</button>
    </form> 

</body>
</html>